/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  background: #000;
}


@media (max-width: 992px) {
  #header {
    height: 60px;
  }
}

.userName{
  color: #1bac91;
}


.nav-link{
  color: #fff;
  margin-left: 20px;
}

